{% extends 'english/layout.twig' %}

{% block page_title %}
    Overall background - {{ parent() }}
{% endblock %}

{% block navbar %}
    <ul class="nav">
        <li class=""><a href="/english/home"><i class="icon-home"></i> Home</a></li>
        <li class=""><a href="/english/service"><i class="icon-briefcase"></i> My services</a></li>
        <li class="active"><a href="/english/experience"><i class="icon-pencil"></i> Overall background</a></li>
        <li class=""><a href="/english/quote"><i class="icon-question-sign"></i> Free quote</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h3>My professional experience</h3>

    <p>Throughout my experience in providing interpretation and translation services I have managed to gain confidence of many companies and individuals both in France and abroad.</p>

    <p>Some of my main projects are:</p>
    
    <table class="table">
        <thead>
            <tr>
                <th>Period</th>
                <th>Client</th>
                <th>Country</th>
                <th>Project</th>
                <th>Languages</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>September 2012</td>
                <td><a href="http://www.topmodel-muz.tv/">Top Model po-russki</a></td>
                <td>France</td>
                <td>simultaneous interpretation for the Reality show jury</td>
                <td>English, French, Russian</td>
            </tr>
            <tr>
                <td>July 2012</td>
                <td><a href="http://www.mtu.gov.ua/">Ministry of infrastructure of Ukraine</a></td>
                <td>France</td>
                <td>escort interpretation for a group of Ukrainians during their negotiations with French colleagues</td>
                <td>Ukrainian, Russian, French</td>
            </tr>
            <tr>
                <td>July 2012</td>
                <td><a href="http://www.systra.com/">SYSTRA</a></td>
                <td>France</td>
                <td>whispered interpretation during a software presentation for SYSTRA Ukrainian clients</td>
                <td>French, Ukrainian, Russian</td>
            </tr>
            <tr>
                <td>July 2012</td>
                <td><a href="http://www.arttrading.info/eng">Art Trading Group</a></td>
                <td>France</td>
                <td>liaison interpretation during negotiations</td>
                <td>English, Russian</td>
            </tr>
            <tr>
                <td>May 2012</td>
                <td><a href="http://www.alterway.fr/">Alter Way</a></td>
                <td>France</td>
                <td>technical translation of <a href="http://www.wampserver.com/">Wamp Server</a> website</td>
                <td>from French to Russian</td>
            </tr>
            <tr>
                <td>May 2012</td>
                <td>Individual</td>
                <td>France</td>
                <td>liaison interpretation during a wedding ceremony at <a href="http://www.mairie2.paris.fr/">Town Hall of Paris (2nd quarter)</a></td>
                <td>French, Russian</td>
            </tr>
            <tr>
                <td>March 2012</td>
                <td>Mega-Rosttorg</td>
                <td>France</td>
                <td>escort interpretation for a Russian client during the <a href="http://www.europain.com/">EuroPain</a> exhibition</td>
                <td>Russian, French</td>
            </tr>
            <tr>
                <td>September 2011 and February 2012</td>
                <td><a href="http://novaline.by">Nova Line</a></td>
                <td>France</td>
                <td>escort interpretation for a Belarussian client during <a href="http://www.texworld.messefrankfurt.com/paris/en/visitors/abouttexworld.html">TexWorld</a> and <a href="http://www.premierevision.com/">Première Vision</a> exhibitions</td>
                <td>Russian, French, English</td>
            </tr>
            <tr>
                <td>June 2011</td>
                <td><a href="http://www.asiatis.com">ASIATIS</a></td>
                <td>France</td>
                <td>technical translation of presse file</td>
                <td>from French to Ukrainian</td>
            </tr>
            <tr>
                <td>June 2011</td>
                <td>Marriage Agency</td>
                <td>Ukraine</td>
                <td>liaison interpretation for a Suisse client of the agency</td>
                <td>French, Russian, Ukrainian</td>
            </tr>
            <tr>
                <td>June 2011</td>
                <td>Individual</td>
                <td>Montenegro</td>
                <td>escort interpretation for a tourist during some excursions</td>
                <td>French, Russian</td>
            </tr>
            <tr>
                <td>from May 2008 to July 2011</td>
                <td><a href="http://www.wwctrials.com/">Worldwide Clinical Trials</a></td>
                <td>Ukraine</td>
                <td>technical translation of medical, pharmaceutical and administrative documentation</td>
                <td>Ukrainian, Russian, English</td>
            </tr>
            <tr>
                <td>from September to April 2007</td>
                <td><a href="http://www.professionalbyfama.com/">Professional By Fama</a> dealer</td>
                <td>Ukraine</td>
                <td>technical translation and liaison interpretation in the fields of beauty and fashion</td>
                <td>Ukrainian, Russian, English</td>
            </tr>
        </tbody>
    </table>

    <h3>My qualifications</h3>

    <p>Ever since I was little I have always been interested in foreign languages, that is why I pursued my higher education in this field.</p>

    <p>My diplomas:</p>
    <ul>
        <li>Master of Arts in linguistics, translation and interpretation in English and French. <a href="http://www.univer.kharkov.ua/en">Karazin Kharkov National University</a>, <a href="http://www-foreign.univer.kharkov.ua/eng/index.html">Faculty of Foreign Languages</a> Ukraine. Diploma obrained in 2007.</li>

        <li>Bachelor of Arts in linguistics in English. <a href="http://www.univer.kharkov.ua/en">Karazin Kharkov National University</a>, <a href="http://www-foreign.univer.kharkov.ua/eng/index.html">Faculty of Foreign Languages</a> Ukraine. Diploma obrained in 2006.</li>
    </ul>
{% endblock %}
