{% extends 'english/layout.twig' %}

{% block page_title %}
    Free quote - {{ parent() }}
{% endblock %}

{% block nav %}
    <ul>
        <li><a href="/english/home"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="/english/service"><i class="fas fa-briefcase"></i> My services</a></li>
        <li><a href="/english/experience"><i class="fas fa-globe"></i> Overall background</a></li>
        <li class="active"><a href="/english/quote"><i class="fas fa-comment-dollar"></i> Free quote</a></li>
    </ul>
{% endblock %}

{% block aside %}
{% endblock %}

{% block content %}
    <h3>Get a quote for free</h3>

    {% if app.request.get('step') == 'form' %}
        <form method="post">
            <div>
                <label for="form-civility">Civility</label>
                <span>
                    <label><input id="form-civility" name="form[civility]" type="radio" value="Sir">Sir</label>
                    <label><input name="form[civility]" type="radio" value="Mrs">Mrs</label>
                    <label><input name="form[civility]" type="radio" value="Miss">Miss</label>
                </span>
            </div>
            <div>
                <label for="form-firstName">First name</label>
                <input id="form-firstName" name="form[firstName]" type="text">
            </div>
            <div>
                <label for="form-lastName">Last name</label>
                <input id="form-lastName" name="form[lastName]" type="text">
            </div>
            <div>
                <label for="form-company">Company name</label>
                <input id="form-company" name="form[company]" type="text">
            </div>
            <div>
                <label for="form-phone">Phone number</label>
                <input id="form-phone" name="form[phone]" type="text">
            </div>
            <div>
                <label for="form-email">E-mail address</label>
                <input id="form-email" name="form[email]" type="text">
            </div>
            <div>
                <label for="form-service">Service required</label>
                <select id="form-service" name="form[service]">
                    <option value="Simultaneous interpretation">Simultaneous interpretation</option>
                    <option value="Whispered interpretation">Whispered interpretation</option>
                    <option value="Consecutive interpretation">Consecutive interpretation</option>
                    <option value="Liaison interpretation">Liaison interpretation</option>
                    <option value="Escort interpretation">Escort interpretation</option>
                    <option value="Technical translation">Technical translation</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div>
                <label for="form-area">Area of expertise</label>
                <input id="form-area" name="form[area]" type="text">
            </div>
            <div>
                <label for="form-languages">Languages to use</label>
                <span>
                    <label><input id="form-languages" name="form[languages][]" type="checkbox" value="French">French</label>
                    <label><input name="form[languages][]" type="checkbox" value="English">English</label>
                    <label><input name="form[languages][]" type="checkbox" value="Russian">Russian</label>
                    <label><input name="form[languages][]" type="checkbox" value="Ukrainian">Ukrainian</label>
                </span>
            </div>
            <div>
                <label for="form-details">Details of the service</label>
                <textarea id="form-details" name="form[details]" rows="10"></textarea>
            </div>
            <button type="submit">Get a quote</button>
        </form>
    {% else %}
        <p>Thank you for taking the time to complete the form.</p>

        <p>I will consider your request and I will contact you as soon as possible.</p>
    {% endif %}

    <h3>My details</h3>

    <dl>
        <dt>Cell phone</dt>
        <dd>+33.(0)6.59.82.82.17</dd>

        <dt>Landline</dt>
        <dd>+33.(0)9.52.36.87.32</dd>
        
        <dt>Fax</dt>
        <dd>+33.(0)9.57.36.87.32</dd>
        
        <dt>E-mail address</dt>
        <dd>interpretation@merlet.biz</dd>
    </dl>
{% endblock %}
