{% extends '@english/layout.twig' %}

{% block page_title %}
    Home - {{ parent() }}
{% endblock %}

{#% block header_title %}{% endblock %#}

{#% block header_lead %}{% endblock %#}

{% block navbar %}
    <ul class="nav">
        <li class="active"><a href="/english/home"><i class="icon-home"></i> Home</a></li>
        <li class=""><a href="/english/service"><i class="icon-briefcase"></i> My services</a></li>
        <li class=""><a href="/english/experience"><i class="icon-pencil"></i> Overall background</a></li>
        <li class=""><a href="/english/quote"><i class="icon-question-sign"></i> Free quote</a></li>
    </ul>
{% endblock %}

{#% block aside %}{% endblock %#}

{% block content %}
    <h3>Welcome!</h3>

    <p>My name is Svetlana Merlet (born Tonkonog), I am Ukrainian, presently based in Paris.</p>

    <p>My experience and my professionalism allow me to deliver high quality and reliable <a href="/english/service">language services</a> which fit best your needs.</p>

    <p>I deal with four languages:</p>
    <ul>
        <li>Ukrainian, native language</li>
        <li>Russian, native language</li>
        <li>French, Master degree, used largely since 2007</li>
        <li>English, Master degree, used professionally since 2005</li>
    </ul>

    <p>My professional activity has helped me to gain <a href="/english/experience">experience</a> in the following areas of expertise: medicine, pharmacy, textile, telecommunications, internet, IT, design, fashion, beauty, transport, banking, finance, insurance, science, food industry, travel and tourism.</p>

    <p>Please do not hesitate to <a href="/english/quote">contact me</a> if case of necessity.</p>
{% endblock %}

{#% block footer %}{% endblock %#}
