{% extends '/layout.twig' %}

{% block page_title %}
    Svetlana Merlet Tonkonog
{% endblock %}

{% block header_title %}
    Svetlana Merlet Tonkonog
{% endblock %}

{% block header_lead %}
    Interpreter and translator of French, English, Russian and Ukrainian
{% endblock %}

{#% block navbar %}{% endblock %#}

{% block aside %}
    <aside>
        <h4>My details</h4>
        <p>+33.(0)6.59.82.82.17</p>
        <p>interpretation@merlet.biz</p>
    </aside>
{% endblock %}

{#% block content %}{% endblock %#}

{% block footer %}
    <p>&copy; Svetlana Merlet Tonkonog</p>
{% endblock %}
