{% extends 'french/layout.twig' %}

{% block page_title %}
    Mon parcours - {{ parent() }}
{% endblock %}

{% block nav %}
    <ul>
        <li><a href="/french/home"><i class="fas fa-home"></i> Accueil</a></li>
        <li><a href="/french/service"><i class="fas fa-briefcase"></i> Mes services</a></li>
        <li class="active"><a href="/french/experience"><i class="fas fa-globe"></i> Mon parcours</a></li>
        <li><a href="/french/quote"><i class="fas fa-comment-dollar"></i> Demande de devis</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h3>Mes expériences</h3>

    <p>Tout le long de mon expérience en interprétation et en traduction j'ai pu gagner la confiance d'entreprises et de particuliers aussi bien en France qu'à l'étranger.</p>

    <p>Mes expériences principales :</p>

    <table>
        <thead>
            <tr>
                <th>Période</th>
                <th>Client</th>
                <th>Pays</th>
                <th>Mission</th>
                <th>Langues</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>septembre 2012</td>
                <td><a href="http://www.topmodel-muz.tv/">Top Model po-russki</a></td>
                <td>France</td>
                <td>interprétation simultanée pour le jury de l'émission de télé-réalité</td>
                <td>anglais, français, russe</td>
            </tr>
            <tr>
                <td>juillet 2012</td>
                <td><a href="http://www.mtu.gov.ua/">Ministère des infrastructures d'Ukraine</a></td>
                <td>France</td>
                <td>interprétation d'accompagnement pour un groupe d'ukrainiens pendant leurs pourparlers avec des collaborateurs français</td>
                <td>ukrainien, russe, français</td>
            </tr>
            <tr>
                <td>juillet 2012</td>
                <td><a href="http://www.systra.com/">SYSTRA</a></td>
                <td>France</td>
                <td>chuchotage lors de la présentation d'un logiciel pour une délégation d'un client ukrainien de SYSTRA</td>
                <td>français, ukrainien, russe</td>
            </tr>
            <tr>
                <td>juillet 2012</td>
                <td><a href="http://www.arttrading.info/eng">Art Trading Group</a></td>
                <td>France</td>
                <td>interprétation de liaison lors de pourparlers</td>
                <td>anglais, russe</td>
            </tr>
            <tr>
                <td>mai 2012</td>
                <td><a href="http://www.alterway.fr/">Alter Way</a></td>
                <td>France</td>
                <td>traduction technique du site internet de <a href="http://www.wampserver.com/">Wamp Server</a></td>
                <td>français vers russe</td>
            </tr>
            <tr>
                <td>mai 2012</td>
                <td>Particulier</td>
                <td>France</td>
                <td>Interprétation de liaison lors d'une cérémonie de mariage à la <a href="http://www.mairie2.paris.fr/">mairie du 2ème arrondissement de Paris</a></td>
                <td>français, russe</td>
            </tr>
            <tr>
                <td>mars 2012</td>
                <td>Mega-Rosttorg</td>
                <td>France</td>
                <td>interprétation d'accompagnement pour un client russe lors de l'exposition <a href="http://www.europain.com/">EuroPain</a></td>
                <td>russe, français</td>
            </tr>
            <tr>
                <td>septembre 2011 et février 2012</td>
                <td><a href="http://novaline.by">Nova Line</a></td>
                <td>France</td>
                <td>interprétation d'accompagnement pour un client biélorusse lors des expositions <a href="http://www.texworld.messefrankfurt.com/paris/en/visitors/abouttexworld.html">TexWorld</a> et <a href="http://www.premierevision.com/">Première Vision</a></td>
                <td>russe, français, anglais</td>
            </tr>
            <tr>
                <td>juin 2011</td>
                <td><a href="http://www.asiatis.com">ASIATIS</a></td>
                <td>France</td>
                <td>traduction technique d'un dossier de presse</td>
                <td>français vers ukrainien</td>
            </tr>
            <tr>
                <td>juin 2011</td>
                <td>Agence matrimoniale</td>
                <td>Ukraine</td>
                <td>interprétation de liaison pour un client suisse de l'agence</td>
                <td>français, russe, ukrainien</td>
            </tr>
            <tr>
                <td>juin 2011</td>
                <td>Particulier</td>
                <td>Monténégro</td>
                <td>interprétation d'accompagnement pour un touristes lors d'excursions</td>
                <td>français, russe</td>
            </tr>
            <tr>
                <td>mai 2008 à juillet 2011</td>
                <td><a href="http://www.wwctrials.com/">Worldwide Clinical Trials</a></td>
                <td>Ukraine</td>
                <td>traduction technique de documentations médicale, pharmaceutique et administratives</td>
                <td>ukrainien, russe, anglais</td>
            </tr>
            <tr>
                <td>septembre à avril 2007</td>
                <td>revendeur <a href="http://www.professionalbyfama.com/">Professional By Fama</a></td>
                <td>Ukraine</td>
                <td>traduction technique de documentations et interprétation de liaison dans les domaines du luxe et de la mode</td>
                <td>ukrainien, russe, anglais</td>
            </tr>
        </tbody>
    </table>

    <h3>Ma formation</h3>

    <p>Depuis toujours, je suis intéressée et passionnée par les langues, c'est pourquoi j'ai fait mes études dans ce domaine.</p>

    <p>Mes diplômes :</p>

    <ul>
        <li>Master of Arts, option linguistique, interprétation et traduction en Anglais et Français. Diplôme obtenu en 2007 à l'<a href="http://www-foreign.univer.kharkov.ua/eng/index.html">École de langues étrangères</a> de l'<a href="http://www.univer.kharkov.ua/en">Université Nationale Karazine de Kharkov</a> en Ukraine.</li>

        <li>Bachelor of Arts, option linguistique, interprétation et traduction en Anglais. Diplôme obtenu en 2006 à l'<a href="http://www-foreign.univer.kharkov.ua/eng/index.html">École de langues étrangères</a> de l'<a href="http://www.univer.kharkov.ua/en">Université Nationale Karazine de Kharkov</a> en Ukraine.</li>
    </ul>
{% endblock %}
