{% extends '@ukrainian/layout.twig' %}

{% block page_title %}
    Мої послуги - {{ parent() }}
{% endblock %}

{#% block header_title %}{% endblock %#}

{#% block header_lead %}{% endblock %#}

{% block navbar %}
    <ul class="nav">
        <li class=""><a href="/ukrainian/home"><i class="icon-home"></i> Про мене</a></li>
        <li class="active"><a href="/ukrainian/service"><i class="icon-briefcase"></i> Мої послуги</a></li>
        <li class=""><a href="/ukrainian/experience"><i class="icon-pencil"></i> Досвід та освіта</a></li>
        <li class=""><a href="/ukrainian/quote"><i class="icon-question-sign"></i> Розрахунок вартості замовлення</a></li>
    </ul>
{% endblock %}

{#% block aside %}{% endblock %#}

{% block content %}
    <h3>Синхронний переклад</h3>

    <p>Виконання синхронного перекладу вимагає застосування спеціального устаткування (кабін, навушників, мікрофонів і ін.). Завдяки такій апаратурі, промовцеві не потрібно робити пауз в своїй промові. Переклад відбувається одночасно, що дозволяє аудиторії сприймати і обробляти більше інформації, не втрачаючи часу на переклад. Даний вид перекладу використовується загалом при проведенні конференцій, семінарів, форумів або презентацій за участю великої кількості людей.</p>

    <h3>Переклад пошепки або шушотаж</h3>

    <p>Виконуючи цей тип синхронного перекладу, перекладач знаходиться поряд із слухачем/ами (не більше трьох чоловік) і здійснює в півголосу ("нашіптує на вухо") переклад. Даний переклад не вимагає використання спеціального устаткування.</p>

    <h3>Послідовний переклад</h3>

    <p>Послідовний переклад можна розглядати, як взаємодію виступаючого і перекладача. На відміну від синхронного перекладу, при послідовному перекладі, виступаючий час від часу (приблизно кожні 5 хвилин) робить в мові паузи, надаючи таким чином час перекладачеві на передачу сказаного. В той час, як виступаючий виголошує відрізки промови, перекладач робить позначки і при нагоді використовує слайди, що демонструються. Для здійснення послідовного перекладу спеціальна апаратура не є потрібною. Такий вид перекладу підходить для проведення переговорів, ділових зустрічей, круглих столів за участю малої кількості людей.</p>

    <h3>Пофразовий переклад</h3>

    <p>Даний тип усного перекаду відбувається у формі діалогу між співбесідниками, які говорять на двох різних мовах. Перекладач здійснює переклад пофразно, чередуючи мови, не роблячи при цьому заміток. Такий переклад використовується при проведенні різного роду заходів за участю невиликої кількості людей, а саме для проведення: обговорень, переговорів, співбесід або відвідин професійних тематичних виставок.</p>

    <h3>Супровідний переклад</h3>

    <p>Супровідний переклад передбачає супровід іноземних громадян і делегацій під час їх перебування в незнайомих їм місті або країні, що прибули до них з метою ведення бізнесу або дозвілля. В цьому випадку робота перекладача полягає в наданні допомоги при вирішенні різного роду проблем і питань, пов'язаних з перебуттям закордоном. Такий переклад широко використовується під час виставок, ярморок, різних культурних заходів, ділових візитів, тощо.</p>

    <h3>Технічний письмовий переклад</h3>

    <p>Письмовий переклад, на відміну від усного перекладу, полягає в письмовому перенесенні сенсу з однієї мови в іншу, враховуючи при цьому граматичні, лексичні та стилістичні особливості документа, що перекладається в такий спосіб. Прикладами письмового перекладу текстів технічного характеру є переклади: контрактів, інструкцій, статей, описів, доповідей, рефератів, тощо.</p>
{% endblock %}

{#% block footer %}{% endblock %#}
