{% extends '@russian/layout.twig' %}

{% block page_title %}
    Бесплатный расчёт стоимости - {{ parent() }}
{% endblock %}

{#% block header_title %}{% endblock %#}

{#% block header_lead %}{% endblock %#}

{% block navbar %}
    <ul class="nav">
        <li class=""><a href="/russian/home"><i class="icon-home"></i> Главная</a></li>
        <li class=""><a href="/russian/service"><i class="icon-briefcase"></i> Мои услуги</a></li>
        <li class=""><a href="/russian/experience"><i class="icon-pencil"></i> Опыт и образование</a></li>
        <li class="active"><a href="/russian/quote"><i class="icon-question-sign"></i> Бесплатный расчёт стоимости</a></li>
    </ul>
{% endblock %}

{% block aside %}
{% endblock %}

{% block content %}
    <h3>Бесплатный расчёт стоимости заказа</h3>

    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label">Имя</label><!-- prénom -->
            <div class="controls"><input class="span6" type="text" /></div>
        </div>
        <div class="control-group">
            <label class="control-label">Фамилия</label><!-- nom -->
            <div class="controls"><input class="span6" type="text" /></div>
        </div>
        <div class="control-group">
            <label class="control-label">Название компании</label>
            <div class="controls"><input class="span6" type="text" /></div>
        </div>
        <div class="control-group">
            <label class="control-label">Телефон</label>
            <div class="controls"><input class="span6" type="text" /></div>
        </div>
        <div class="control-group">
            <label class="control-label">E-mail</label>
            <div class="controls"><input class="span6" type="text" /></div>
        </div>
        <div class="control-group">
            <label class="control-label">Необходимая услуга</label>
            <div class="controls">
                <select class="span6">
                    <option>синхронный перевод</option>
                    <option>шушотаж</option>
                    <option>последовательный перевод</option>
                    <option>пофразовый перевод</option>
                    <option>сопроводительный перевод</option>
                    <option>письменный технический перевод</option>
                    <option>другое</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Тематика перевода</label>
            <div class="controls"><input class="span6" type="text" /></div>
        </div>
        <div class="control-group">
            <label class="control-label">Языки перевода</label>
            <div class="controls">
                <label class="checkbox inline"><input type="checkbox" />французский</label>
                <label class="checkbox inline"><input type="checkbox" />английский</label>
                <label class="checkbox inline"><input type="checkbox" />русский</label>
                <label class="checkbox inline"><input type="checkbox" />украинский</label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Детали заказа</label>
            <div class="controls">
                <textarea class="span10" rows="10"></textarea>
            </div>
        </div>
        <div class="form-action">
            <input class="btn btn-large btn-primary" type="submit" value="Отправить запрос" />
        </div>
    </form>

    <h3>Мои контактные данные</h3>

    <dl class="dl-horizontal">
        <dt>Мобильный телефон</dt>
        <dd>+33.(0)6.59.82.82.17</dd>

        <dt>Стационарный телефон</dt>
        <dd>+33.(0)9.52.36.87.32</dd>
        
        <dt>Факс</dt>
        <dd>+33.(0)9.57.36.87.32</dd>
        
        <dt>E-mail&nbsp;</dt>
        <dd>interpretation@merlet.biz</dd>

        <dt>Почтовый адрес</dt>
        <dd>
            Svetlana Merlet Tonkonog <br/>
            7 rue du Petit Pont <br/>
            75005 Paris
        </dd>

        <dt>Номер SIRET</dt>
        <dd>753-014-190 00015</dd>
    </dl>
{% endblock %}

{#% block footer %}{% endblock %#}
