{% extends '@ukrainian/layout.twig' %}

{% block page_title %}
    Досвід та освіта - {{ parent() }}
{% endblock %}

{#% block header_title %}{% endblock %#}

{#% block header_lead %}{% endblock %#}

{% block navbar %}
    <ul class="nav">
        <li class=""><a href="/ukrainian/home"><i class="icon-home"></i> Про мене</a></li>
        <li class=""><a href="/ukrainian/service"><i class="icon-briefcase"></i> Мої послуги</a></li>
        <li class="active"><a href="/ukrainian/experience"><i class="icon-pencil"></i> Досвід та освіта</a></li>
        <li class=""><a href="/ukrainian/quote"><i class="icon-question-sign"></i> Розрахунок вартості замовлення</a></li>
    </ul>
{% endblock %}

{#% block aside %}{% endblock %#}

{% block content %}
    <h3>Мій досвід</h3>

    <p>Впродовж моєї професійної діяльності в наданні послуг усного та письмового перекладу, мені вдалося здобути довіру і визнання багатьох організацій і приватних осіб як на території Франції, так і за її межами.</p>

    <p>Ось деяки з них:</p>

    <table class="table  ">
        <thead>
            <tr>
                <th>Період</th>
                <th>Клієнт</th>
                <th>Країна</th>
                <th>Проект</th>
                <th>Мови</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>вересень 2012&nbsp;р.</td>
                <td><a href="http://www.topmodel-muz.tv/">Топ- Модель По-Російські</a></td>
                <td>Франція</td>
                <td>синхронний переклад для журі реаліті-шоу</td>
                <td>англійська, французька, російська</td>
            </tr>
            <tr>
                <td>липень 2012&nbsp;р.</td>
                <td><a href="http://www.mtu.gov.ua/">Міністерство інфраструктури України</a></td>
                <td>Франція</td>
                <td>супровідний переклад для групи українців під час переговорів з французькими колегами</td>
                <td>українська, російська, французька</td>
            </tr>
            <tr>
                <td>липень 2012&nbsp;р.</td>
                <td><a href="http://www.systra.com/">SYSTRA</a></td>
                <td>Франція</td>
                <td>шушотаж під час презентації програмного забезпечення для українських колег компанії SYSTRA</td>
                <td>французька, українська, російська</td>
            </tr>
            <tr>
                <td>липень 2012&nbsp;р.</td>
                <td><a href="http://www.arttrading.info/eng">Art Trading Group</a></td>
                <td>Франція</td>
                <td>пофразовий переклад під час проведения переговрів</td>
                <td>англійська, російська</td>
            </tr>
            <tr>
                <td>травень 2012&nbsp;р.</td>
                <td><a href="http://www.alterway.fr/">Alter Way</a></td>
                <td>Франція</td>
                <td>письмовий техничний переклад веб-сайта <a href="http://www.wampserver.com/">Wamp Server</a></td>
                <td>французька, російська</td>
            </tr>
            <tr>
                <td>травень 2012&nbsp;р.</td>
                <td>Приватна особа</td>
                <td>Франція</td>
                <td>пофразовий переклад під час шлюбної церемонії в <a href="http://www.mairie2.paris.fr/">мэрії м. Париж (2-ий округ)</a></td>
                <td>французька, російська</td>
            </tr>
            <tr>
                <td>березень 2012&nbsp;р.</td>
                <td>Мега-Ростторг</td>
                <td>Франція</td>
                <td>супровідний переклад для російського клієнта в межах проведення виставки <a href="http://www.europain.com/">EuroPain</a></td>
                <td>російська, французька</td>
            </tr>
            <tr>
                <td>вересень 2011&nbsp;р., лютий 2012&nbsp;р.</td>
                <td><a href="http://novaline.by">Nova Line</a></td>
                <td>Франція</td>
                <td>супровідний переклад для клієнта із Білорусії в межах проведення виставок <a href="http://www.texworld.messefrankfurt.com/paris/en/visitors/abouttexworld.html">TexWorld</a> і <a href="http://www.premierevision.com/">Première Vision</a></td>
                <td>російська, французька, англійська</td>
            </tr>
            <tr>
                <td>червень 2011&nbsp;р.</td>
                <td><a href="http://www.asiatis.com">ASIATIS</a></td>
                <td>Франція</td>
                <td>письмовий технічний переклад документації в області преси</td>
                <td>французька, українська</td>
            </tr>
            <tr>
                <td>червень 2011&nbsp;р.</td>
                <td>Шлюбне агентство</td>
                <td>Україна</td>
                <td>пофразовий переклад для клієнта агенства, що прибув із Швейцарії</td>
                <td>французька, російська, українська</td>
            </tr>
            <tr>
                <td>червень 2011&nbsp;р.</td>
                <td>Приватна особа</td>
                <td>Чорногорія</td>
                <td>супровідний переклад для туриста під час оглядових екскурсій</td>
                <td>французька, російська</td>
            </tr>
            <tr>
                <td>травень 2008&nbsp;р.-липень 2011&nbsp;р.</td>
                <td><a href="http://www.wwctrials.com/">Worldwide Clinical Trials</a></td>
                <td>Україна</td>
                <td>технічний письмовий переклад медицинської, фармацевтичної та адміністративної документації</td>
                <td>українська, російська, англійска</td>
            </tr>
            <tr>
                <td>вересень-квітень 2007&nbsp;р.</td>
                <td>дилер бренду <a href="http://www.professionalbyfama.com/">Professional By Fama</a></td>
                <td>Україна</td>
                <td>технічний письмовий переклад і пофразовий усний переклад в області краси та моди</td>
                <td>українська, російська, англійська</td>
            </tr>
        </tbody>
    </table>

    <h3>Моя освіта</h3>

    <p>Світ перекладу завжди представляв для мене великий інтерес, тому я вирішила здобути вищу освіту саме в цій області.</p>

    <p>Мої дипломи:</p>

    <ul>
        <li>2007 рік - <a href="http://www.univer.kharkov.ua">Харьківський національний університет ім. В.Н. Каразіна</a>, <a href="http://www-foreign.univer.kharkov.ua">факультет іноземних мов</a>, кафедра англійської філології. «Магістр» - Філолог, викладач англійської і французької мов та літератури; перекладач англійської і французької мов.</li>

        <li>2006 рік  - <a href="http://www.univer.kharkov.ua">Харьківський національний університет ім. В.Н. Каразіна</a>, <a href="http://www-foreign.univer.kharkov.ua">факультет іноземних мов</a>, кафедра англійської філології. «Бакалавр» Філолог, викладач англійської мови та літератури.</li>
    </ul>
{% endblock %}

{#% block footer %}{% endblock %#}
