{% extends 'ukrainian/layout.twig' %}

{% block page_title %}
    Розрахунок вартості замовлення - {{ parent() }}
{% endblock %}

{% block nav %}
    <ul>
        <li><a href="/ukrainian/home"><i class="fas fa-home"></i> Про мене</a></li>
        <li><a href="/ukrainian/service"><i class="fas fa-briefcase"></i> Мої послуги</a></li>
        <li><a href="/ukrainian/experience"><i class="fas fa-globe"></i> Досвід та освіта</a></li>
        <li class="active"><a href="/ukrainian/quote"><i class="fas fa-comment-dollar"></i> Розрахунок вартості замовлення</a></li>
    </ul>
{% endblock %}

{% block aside %}
{% endblock %}

{% block content %}
    <h3>Отримати безкоштовний розрахунок вартості замовлення</h3>

    {% if app.request.get('step') == 'form' %}
        <form method="post">
            <div>
                <label for="form-lastName">Ім'я</label>
                <input id="form-lastName" name="form[lastName]" type="text">
            </div>
            <div>
                <label for="form-firstName">Прізвище</label>
                <input id="form-firstName" name="form[firstName]" type="text">
            </div>
            <div>
                <label for="form-company">Назва компанії</label>
                <input id="form-company" name="form[company]" type="text">
            </div>
            <div>
                <label for="form-phone">Телефон</label>
                <input id="form-phone" name="form[phone]" type="text">
            </div>
            <div>
                <label for="form-email">Адреса е-mail</label>
                <input id="form-email" name="form[email]" type="text">
            </div>
            <div>
                <label for="form-service">Необхідна послуга</label>
                <select id="form-service" name="form[service]">
                    <option value="синхронний переклад">синхронний переклад</option>
                    <option value="шушотаж">шушотаж</option>
                    <option value="послідовний переклад">послідовний переклад</option>
                    <option value="пофразовий переклад">пофразовий переклад</option>
                    <option value="супровідний переклад">супровідний переклад</option>
                    <option value="письмовий технічний переклад">письмовий технічний переклад</option>
                    <option value="інше">інше</option>
                </select>
            </div>
            <div>
                <label for="form-area">Тематика перекладу</label>
                <input id="form-area" name="form[area]" type="text">
            </div>
            <div>
                <label for="form-languages">Мови перекладу</label>
                <span>
                    <label><input id="form-languages" name="form[languages][]" type="checkbox" value="французька">французька</label>
                    <label><input name="form[languages][]" type="checkbox" value="англійська">англійська</label>
                    <label><input name="form[languages][]" type="checkbox" value="російська">російська</label>
                    <label><input name="form[languages][]" type="checkbox" value="українська">українська</label>
                </span>
            </div>
            <div>
                <label for="form-details">Деталі замовлення</label>
                <textarea id="form-details" name="form[details]" rows="10"></textarea>
            </div>
            <button type="submit">Відправити замовлення</button>
        </form>
    {% else %}
        <p>Дякую, що знайшли час, щоб заповнити цю форму.</p>

        <p>Я ознайомлюся з Вашим запитом і зв'яжуся з Вами у найкоротші терміни.</p>
    {% endif %}

    <h3>Мої контактні дані</h3>

    <dl>
        <dt>Мобільний телефон</dt>
        <dd>+33.(0)6.59.82.82.17</dd>

        <dt>Стаціонарний телефон</dt>
        <dd>+33.(0)9.52.36.87.32</dd>
        
        <dt>Факс</dt>
        <dd>+33.(0)9.57.36.87.32</dd>
        
        <dt>Адреса е-mail</dt>
        <dd>interpretation@merlet.biz</dd>
    </dl>
{% endblock %}
