article {
    h3 {
        color: $dark-blue;
        font-size: 24px;
        line-height: 40px;
    }

    p, ul, table, form, dl {
        margin: 0 0 10px 0;
    }

    ul {
        li {
            list-style: disc outside;
            margin-left: 20px;
        }
    }

    table {
        width: 100%;

        th, td {
            border-top: 1px solid $dark-brown;
            font-weight: bold;
            padding: 8px;
            text-align: center;
            vertical-align: top;
        }

        td {
            font-weight: normal;
            text-align: left;
        }

        thead th {
            border-top: 0;
        }
    }

    form {
        text-align: center;

        div {
            display: flex;
            text-align: left;

            label {
                font-style: italic;
                margin: 0 0 8px 0;
                padding: 4px 6px;
                width: 200px;
            }

            input, select, textarea, span {
                background-color: white;
                border: 1px solid $dark-brown;
                border-radius: 3px;
                display: inline-block;
                flex: auto;
                font-size: 14px;
                padding: 4px 6px;
                margin: 0 0 8px 0;
            }

            input:focus, select:focus, textarea:focus {
                border-color: $dark-blue;
                box-shadow: 0 0 6px $light-blue;
            }

            span {
                background-color: $ivory-white;
                border: none;

                label {
                    display: inline;
                    font-style: normal;
                    margin: 0 12px 0 0;
                    padding: 0;
                }

                input {
                    margin: 0 6px 0 0;
                }
            }
        }

        button {
            background-color: $light-orange;
            border: 1px solid $dark-brown;
            border-radius: 3px;
            color: $dark-black;
            font-size: 16px;
            padding: 9px 14px;
        }
    }

    dl {
        dt {
            clear: left;
            float: left;
            font-style: italic;
            margin: 0 0 8px 0;
            padding: 4px 6px;
            width: 200px;
        }

        dd {
            font-weight: bold;
            margin: 0 0 8px 0;
            padding: 4px 6px;
        }
    }
}
