/*
 * Palette found on COLOURlovers
 * http://www.colourlovers.com/palette/1024017/ReadyDone
 */
$light-orange: #FEAE37;
$dark-orange: #FF8F24;
$dark-brown: #61473A;
$light-blue: #51B4D4;
$dark-blue: #2F8DCA;

$ivory-white: #EFEFEF;
$dark-black: #303030;
