{% extends '@ua/layout.twig' %}

{% block page_title %}
    Про мене - {{ parent() }}
{% endblock %}

{#% block header_title %}{% endblock %#}

{#% block header_lead %}{% endblock %#}

{% block navbar %}
    <ul class="nav">
        <li class="active"><a href="/ua/home"><i class="icon-home"></i> Про мене</a></li>
        <li class=""><a href="/ua/service"><i class="icon-briefcase"></i> Мої послуги</a></li>
        <li class=""><a href="/ua/experience"><i class="icon-pencil"></i> Досвід та освіта</a></li>
        <li class=""><a href="/ua/quote"><i class="icon-question-sign"></i> Розрахунок вартості замовлення</a></li>
    </ul>
{% endblock %}

{#% block aside %}{% endblock %#}

{% block content %}
    <h3>Вітаю на моєму сайті!</h3>

    <p>Мене звати Світлана Мерлє-Тонконог, я українка, живу в м. Париж. Я надаю <a href="/ua/service">послуги усного та письмового перекладу</a> як на території Франції, так і за її межами.</p>

    <p>Придбаний мною досвід і професіоналізм забезпечують високу якість і надійність перекладів, що виконуються. Завдяки індивідуальному підходу до кожного <a href="/ua/experience">клієнта</a> і урахуванню специфіки кожного замовлення, робота проходить на належному рівні і завершується у встановлені часові межі.</p>

    <p>Я працюю з наступними мовами:</p>

    <ul>
        <li>Українська мова, рідна</li>
        <li>Російська мова, рідна</li>
        <li>Французька мова (ступінь Магістра), використовується повсякденно у всіх сферах життя з 2007 року</li>
        <li>Англійська мова (ступінь Магістра), використовується в професійній діяльності з 2005 року</li>
    </ul>

    <p>За час моєї професійної діяльності, я набула досвіду роботи в наступних сферах перекладу: медицина, фармація, текстиль, телекомунікації, IT-технології, дизайн, мода, краса, транспорт, банківська справа, фінанси, страхування, наука, харчова промисловість, подорожі і туризм.</p>

    <p>Буду рада сумісній співпраці!</p>
{% endblock %}

{#% block footer %}{% endblock %#}
