<p>
    <a href="{{ path(route, {'language': 'french'}) }}">Version française</a>
    &ndash;
    <a href="{{ path(route, {'language': 'english'}) }}">English version</a>
    &ndash;
    <a href="{{ path(route, {'language': 'russian'}) }}">Русская версия</a>
    &ndash;
    <a href="{{ path(route, {'language': 'ukrainian'}) }}">Українська версія</a>
</p>