{% extends '/layout.twig' %}

{% block page_title %}
    Светлана Мерле-Тонконог
{% endblock %}

{% block header_title %}
    Светлана Мерле-Тонконог
{% endblock %}

{% block header_subtitle %}
    Устный и письменный переводчик француского, английского, русского и украинского языков
{% endblock %}

{% block aside %}
    <aside>
        <h4>Мои контакты</h4>
        <p>+33.(0)6.59.82.82.17</p>
        <p>interpretation@merlet.biz</p>
    </aside>
{% endblock %}

{% block footer %}
    <p>&copy; Светлана Мерле-Тонконог</p>
{% endblock %}
