{% extends 'russian/layout.twig' %}

{% block page_title %}
    Бесплатный расчёт стоимости - {{ parent() }}
{% endblock %}

{% block nav %}
    <ul>
        <li><a href="/russian/home"><i class="fas fa-home"></i> Главная</a></li>
        <li><a href="/russian/service"><i class="fas fa-briefcase"></i> Мои услуги</a></li>
        <li><a href="/russian/experience"><i class="fas fa-globe"></i> Опыт и образование</a></li>
        <li class="active"><a href="/russian/quote"><i class="fas fa-comment-dollar"></i> Бесплатный расчёт стоимости</a></li>
    </ul>
{% endblock %}

{% block aside %}
{% endblock %}

{% block content %}
    <h3>Бесплатный расчёт стоимости заказа</h3>

    {% if app.request.get('step') == 'form' %}
        <form method="post">
            <div>
                <label for="form-lastName">Имя</label>
                <input id="form-lastName" name="form[lastName]" type="text">
            </div>
            <div>
                <label for="form-firstName">Фамилия</label>
                <input id="form-firstName" name="form[firstName]" type="text">
            </div>
            <div>
                <label for="form-company">Название компании</label>
                <input id="form-company" name="form[company]" type="text">
            </div>
            <div>
                <label for="form-phone">Телефон</label>
                <input id="form-phone" name="form[phone]" type="text">
            </div>
            <div>
                <label for="form-email">E-mail</label>
                <input id="form-email" name="form[email]" type="text">
            </div>
            <div>
                <label for="form-service">Необходимая услуга</label>
                <select id="form-service" name="form[service]">
                    <option value="синхронный перевод">синхронный перевод</option>
                    <option value="шушотаж">шушотаж</option>
                    <option value="последовательный перевод">последовательный перевод</option>
                    <option value="пофразовый перевод">пофразовый перевод</option>
                    <option value="сопроводительный перевод">сопроводительный перевод</option>
                    <option value="письменный технический перевод">письменный технический перевод</option>
                    <option value="другое">другое</option>
                </select>
            </div>
            <div>
                <label for="form-area">Тематика перевода</label>
                <input id="form-area" name="form[area]" type="text">
            </div>
            <div>
                <label for="form-languages">Языки перевода</label>
                <span>
                    <label><input id="form-languages" name="form[languages][]" type="checkbox" value="французский">французский</label>
                    <label><input name="form[languages][]" type="checkbox" value="английский">английский</label>
                    <label><input name="form[languages][]" type="checkbox" value="русский">русский</label>
                    <label><input name="form[languages][]" type="checkbox" value="украинский">украинский</label>
                </span>
            </div>
            <div>
                <label for="form-details">Детали заказа</label>
                <textarea id="form-details" name="form[details]" rows="10"></textarea>
            </div>
            <button type="submit">Отправить запрос</button>
        </form>
    {% else %}
        <p>Спасибо, что нашли время и заполнили данную форму.</p>

        <p>Я изучу Ваш запрос и свяжусь с Вами в кратчайшие сроки.</p>
    {% endif %}

    <h3>Мои контактные данные</h3>

    <dl>
        <dt>Мобильный телефон</dt>
        <dd>+33.(0)6.59.82.82.17</dd>

        <dt>Стационарный телефон</dt>
        <dd>+33.(0)9.52.36.87.32</dd>
        
        <dt>Факс</dt>
        <dd>+33.(0)9.57.36.87.32</dd>
        
        <dt>E-mail&nbsp;</dt>
        <dd>interpretation@merlet.biz</dd>
    </dl>
{% endblock %}
