{% extends 'russian/layout.twig' %}

{% block page_title %}
    Мои услуги - {{ parent() }}
{% endblock %}

{% block nav %}
    <ul>
        <li><a href="/russian/home"><i class="fas fa-home"></i> Главная</a></li>
        <li class="active"><a href="/russian/service"><i class="fas fa-briefcase"></i> Мои услуги</a></li>
        <li><a href="/russian/experience"><i class="fas fa-globe"></i> Опыт и образование</a></li>
        <li><a href="/russian/quote"><i class="fas fa-comment-dollar"></i> Бесплатный расчёт стоимости</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h3>Синхронный перевод</h3>

    <p>Выполнение синхронного перевода требует применения специального оборудования (кабин, наушников, микрофонов и др.). Благодаря такой аппаратуре, выступающему не нужно делать пауз в своей речи. Перевод происходит одновременно, что позволяет аудитории воспринимать и обрабатывать больше информации, не теряя времени на перевод. Данный вид перевода в основном используется при проведении конференций, семинаров, форумов или презинтаций с участием большого количества людей.</p>

    <h3>Перевод шёпотом или шушотаж</h3>

    <p>Выполняя этот вид синхронного перевода, переводчик находится рядом со слушателем/ями (не больше трёх человек) и осуществляет в полголоса ("нашёптывает на ухо") перевод. Данный перевод не требует использования специального оборудования.</p>

    <h3>Последовательный перевод</h3>

    <p>Последовательный перевод можно рассматривать, как взаимодействие говорящего и переводчика. В отличие от синхронного перевода, при последовательном переводе говорящий время от времени (приблизительно каждые 5 минут) делает в речи паузы, предоставляя таким образом время переводчику на передачу сказанного. В то время, как говорящий произносит отрезки речи, переводчик делает пометки и при возможности использует демонстрируемые слайды. Для осуществления последовательного перевода наличие специальной аппаратуры не требуется. Такой вид перевода подходит для проведения переговоров, деловых встреч, круглых столов при участии небольшого количества людей.</p>

    <h3>Пофразовый перевод</h3>

    <p>Данный вид устного перевода происходит в форме диалога между собеседниками, которые говорят на двух разных языках. Переводчик осуществляет перевод пофразно, с одного языка на другой, не делая при этом заметок. Такой вид перевода подходит для проведения различного рода мероприятий с участием небольшого количества людей: обсуждений, переговоров, собеседований или посещений профессиональных тематических выставок.</p>

    <h3>Сопроводительный перевод</h3>

    <p>Сопроводительный перевод предусматривает сопровождение иностранных граждан и делегаций во время их пребывания в незнакомых им городе или стране, прибывших с целью ведения бизнеса или досуга. В этом случае работа переводчика заключается в предоставлении помощи при решении различного рода проблем и вопросов, связанных с прибыванием заграницей. Такой вид перевода широко используется во время выставок, ярморок, различных культурных мероприятий, деловых визитов и т.д.</p>

    <h3>Технический письменный перевод</h3>

    <p>Письменный перевод, в отличие от устного перевода, заключается в письменном переносе смысла из одного языка в другой, учитывая при этом грамматические, лексические и стилистические особенности переводимого таким способом документа. Примерами письменного перевода текстов технического характера являются переводы: контрактов, инструкций, статей, описаний, докладов, рефератов и т.д.</p>
{% endblock %}
