{% set route = app.request.attributes.get('_route') %}
<select id="language-select">
    <option value="{{ path(route, {'language': 'french'}) }}" {% if language == 'french' %}selected="selected"{% endif %}>
    	Version française
    </option>
    <option value="{{ path(route, {'language': 'english'}) }}" {% if language == 'english' %}selected="selected"{% endif %}>
    	English version
    </option>
    <option value="{{ path(route, {'language': 'russian'}) }}" {% if language == 'russian' %}selected="selected"{% endif %}>
    	Русская версия
    </option>
    <option value="{{ path(route, {'language': 'ukrainian'}) }}" {% if language == 'ukrainian' %}selected="selected"{% endif %}>
    	Українська версія
    </option>
</select>