{% extends '@ru/layout.twig' %}

{% block page_title %}
    Главная - {{ parent() }}
{% endblock %}

{#% block header_title %}{% endblock %#}

{#% block header_lead %}{% endblock %#}

{% block navbar %}
    <ul class="nav">
        <li class="active"><a href="/ru/home"><i class="icon-home"></i> Главная</a></li>
        <li class=""><a href="/ru/service"><i class="icon-briefcase"></i> Мои услуги</a></li>
        <li class=""><a href="/ru/experience"><i class="icon-pencil"></i> Опыт и образование</a></li>
        <li class=""><a href="/ru/quote"><i class="icon-question-sign"></i> Бесплатный расчёт стоимости</a></li>
    </ul>
{% endblock %}

{#% block aside %}{% endblock %#}

{% block content %}
    <h3>Добро пожаловать!</h3>

    <p>Меня зовут Светлана Мерле-Тонконог, я украинка, на настоящий момент живущая в Париже. Я оказываю <a href="/ru/service">услуги устного и письменного перевода</a>, как на территории Франции, так и за её пределами.</p>

    <p>Приобретённый мною опыт и профессионализм обеспечивают высокое качество и надежность, выполняемых переводов. Благодаря индивидуальному подходу к каждому клиенту и учёту специфики каждого заказа, работа проходит на должном уровне и завершается в установленные сроки.</p>

    <p>Я работаю со следующими языками:</p>

    <ul>
        <li>Украинский язык, родной;</li>
        <li>Русский язык, родной;</li>
        <li>Французский язык, (степень Магистр, пять лет изучения в университете), повседневно используется во всех сферах жизни с 2007 года;</li>
        <li>Английский язык, (степень Магистр, пять лет изучения в университете), используется в профессиональной жизни с 2005 года.</li>
    </ul>

    <p>За время моей профессиональной деятельности, я приобрела опыт работы в следующих областях: медицина, фармация, текстиль, телекоммуникации, IT-технологии, дизайн, мода, красота, транспорт, банковское дело, финансы, страхование, наука, пищевая промышленность, путешествия и туризм.</p>

    <p>Буду рада совместному сотрудничеству!</p>
{% endblock %}

{#% block footer %}{% endblock %#}
